<div class="<%= rapid_resources_container_class @page %>">
  <% if (title_helper = page&.title_helper) %>
    <%= send(title_helper, item, page) %>
  <% else %>
    <% unless @modal %><h1 class="main-title"><%= page.t('edit.title') %></h1><% end %>
  <% end %>
  <%= render partial: 'form', locals: { item: item, page: page } %>
</div>