<div class="<%= rapid_resources_container_class @page %>">
  <% unless @modal %><h1 class="main-title"><%= page.t('new.title') %></h1><% end %>
  <%= render partial: 'form', locals: { item: item, page: page } %>
</div>